* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
  width: 100vw;
}

button {
  font-size: 2em;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
  transition: transform 0.1s, opacity 0.3s;
}

button:active {
  transform: scale(0.95);
}

button:hover {
  opacity: 0.85;
}
